{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Atecorp inventory</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="card card-outline card-primary">
      <div class="card-header text-center">
          <div class="h1"><b>Inventory</b> Admin</div>
      </div>
      <div class="card-body">
          <p class="login-box-msg">Bienvenido<br>
            <strong>Sistema de compras e inventario </strong><br><small>Ingresa tus Datos</small></p>
        
        <form method="post">
            {% csrf_token %}
            <small class="text-danger">
                {% if messages %}
                    {% for m in messages %}
                        {{m}} <br>
                    {% endfor %}
                {% endif %}
                {% if form.errors %}
                    {% for field in form %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                {{ error|escape }} ({{field.name}}) <br>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            {{ error|escape }}<br>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </small>
            <div class="input-group mb-3">
                <input type="email" name="username" id="id_username" autofocus="" class="form-control" placeholder="Email">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" name="password" id="id_password" class="form-control" placeholder="Password">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-8">

                  </div>
                  <div class="col-4">
                      <button type="submit" class="btn btn-primary btn-block">Login</button>
                  </div>
              </div>
        </form>
      </div>
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
</body>
</html>
