{% extends 'base/index.html' %}

{% block content_wrapper %}

{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                {% if obj %} Editar {% else %} Crear{% endif %} Grupo de Usuario
            </div>

            <div class="card-body">
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Nombre Grupo" value="{{ obj.name }}">
                    </div>
                    <button type="submit" class="btn bg-danger btn-app"><i class="fas fa-save"></i> Guardar</button>
                    <button type="reset" class="btn bg-info btn-app"><i class="fas fa-window-close"></i> Cancelar</button>
                    <a href="{% url 'config:user_group_list' %}" class="btn btn-app bg-warning"><i class="far fa-hand-point-left"></i> Regresar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% if obj %}
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                Permisos del Grupo {{obj}}
            </div>

            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in permisos_grupo %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>
                                <a href="{% url 'config:user_modify' item.id %}" class="btn btn-sm text-success"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                Todos los Permisos
            </div>

            <div class="card-body">
                <table id="tbl" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in permisos %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>
                                <a href="{% url 'config:user_modify' item.id %}" class="btn btn-sm text-success"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}